<footer class="border-top pt-3 fs-6 mt-auto">
    <small>
        <p>Rachel Finucane C18735641</p>
        <p>This is an academic project and not medical software</p>
        <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-black">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" class="text-black">@mdo</a>.</p> -->
    </small>
</footer>