<!-- <!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>todos</h1>
			</header>
			<section>
				<h2>todos helps you get things done</h2>
				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
		<footer class="info">
			<p>Created by <a href="https://www.jaredhanson.me">Jared Hanson</a></p>
			<p>Part of <a href="https://todomvc.com">TodoMVC</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html> -->


<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0"> -->
    <title>Diabetes Diary</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <h1>Diabetes Diary</h1>
          </header>

        <main class="px-3">
            <p class="lead">An app for managing Diabetes</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Login</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
			<p>Rachel Finucane C18735641</p>
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
</body>

</html>