<!doctype html>
<html lang="en" class="h-100">

<head>
    <%- include('head') %>
        <link rel="stylesheet" href="/css/recipes.css">
</head>

<body class="d-flex h-100 text-center ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/scripts/recipes.js"></script>
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">

        <%- include('header') %>

            <main class="container pt-4">
                <row>
                    <a href='#' onclick='return showSearchBox(event);' class='pb-4' id="a-new-recipe">Add new recipe</a>
                </row>
                <row>
                    <div class="col-md-8 mx-auto pt-4" id="search-box-container">
                        <div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-51643_11-2f4a2cc.jpg?resize=960,872" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 0" href="https://www.bbcgoodfood.com/recipes/pizza-margherita-4-easy-steps"><b>Pizza</b> Margherita in 4 easy steps recipe | BBC Good Food</a></h5>
                                    <p class="card-text">Prep: 25 mins; Cook: 10 mins. Easy. Makes 2 <b>pizzas</b>, serves 4. Even a novice cook can master the art of <b>pizza</b> with our simple step-by-step guide. Bellissimo!</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 0" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F09%2F08%2Fapple-goat-cheese-pecan-pizza-ck-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 1" href="https://www.myrecipes.com/recipe/apple-goat-cheese-pecan-pizza">Apple, Goat Cheese, and Pecan <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Take a walk on the culinary wild side with this adventurous <b>pizza</b>. Thinly sliced Fuji apples, goat cheese, toasted pecans, baby arugula, and fresh thyme&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 1" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F04%2F08%2Fpeach-chicken-pizza-ck-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 2" href="https://www.myrecipes.com/recipe/peach-gorgonzola-chicken-pizza">Peach and Gorgonzola Chicken <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Ditch the tomato sauce and give <b>pizza</b> a makeover by topping with chicken, fresh peach slices and Gorgonzola cheese. A drizzle of tangy balsamic reduction&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 2" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=%5B1000%2C750%5D&amp;w=2000&amp;h=1000&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2010%2F08%2F22%2Fghostly-pizza-ay-2000.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 3" href="https://www.myrecipes.com/recipe/ghostly-pizza">Ghostly <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Ingredients · 1 tablespoon olive oil · 1 pound frozen <b>pizza</b> dough, thawed · ¾ cup jarred tomato sauce · 8 ounces sliced low-moisture mozzarella cheese · 1 tablespoon&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 3" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=1923&amp;h=962&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2016%2F10%2F05%2F6053201_dtsup_6420-2000.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 4" href="https://www.myrecipes.com/recipe/chicken-potpie-skillet-pizza">Chicken Potpie Skillet <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Cooking the <b>pizza</b> in a preheated cast-iron skillet makes the crust wonderfully crispy so that it doesn't sog out when the creamy sauce goes on. Be sure to use&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 4" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2013%2F02%2F22%2Fpizza-arrabbiata-ck-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 5" href="https://www.myrecipes.com/recipe/pizza-arrabbiata"><b>Pizza</b> Arrabbiata Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Mar 17, 2013 <b>...</b> We take this favorite pasta sauce and spread it over <b>pizza</b> dough for an outstanding <b>Pizza</b> Arrabbiata. The heat comes from crushed red&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 5" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F11%2F03%2Foh-pizza-margherita-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 6" href="https://www.myrecipes.com/recipe/pizza-margherita"><b>Pizza</b> Margherita Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Because this classic Neapolitan-style <b>pizza</b> is so simple, it depends on quality ingredients. Use the best fresh mozzarella and basil you can find.</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 6" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2012%2F08%2F27%2Fmozzarella-and-basil-pizza-oh-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 7" href="https://www.myrecipes.com/recipe/mozzarella-basil-pizza">Mozzarella and Basil <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">With a make-ahead dough and a simple sauce, this <b>pizza</b> is an option any night of the week. Just make the dough in the morning; then shape it an hour before&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 7" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2010%2F07%2F06%2Fcobb-salad-pizza-ck-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 8" href="https://www.myrecipes.com/recipe/cobb-salad-pizza">Cobb Salad <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Add quick-cooking chicken cutlets and refrigerated <b>pizza</b> dough to a mix of fresh vegetables for a light and lovely meal.</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 8" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div><div class="card col-md-8 mb-3 mx-auto">
                            <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&amp;c=sc&amp;poi=face&amp;w=420&amp;h=210&amp;url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2011%2F12%2F14%2Fchicken-pizza-ck-x.jpg" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a class="text-dark 9" href="https://www.myrecipes.com/recipe/chicken-pizza">Chicken <b>Pizza</b> Recipe | MyRecipes</a></h5>
                                    <p class="card-text">Forget delivery! Serve homemade Chicken <b>Pizza</b> instead. Chicken, sweet Italian sausage, cremini mushrooms, fontina cheese, and sliced red bell pepper are&nbsp;...</p>
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-light" type="button">View Recipe Information</button> <!-- Gets Recipe Info -->
                                        <button class="btn btn-light 9" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                                    </div>                                    
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </row>
                <row>
                    <div class="py-3" id="search-results-container"></div>
                </row>
            </main>

            <%- include('footer') %>
    </div>
</body>

</html>