<!doctype html>
<html lang="en" class="h-100">

<head>
    <%- include('head') %>
        <link rel="stylesheet" href="/css/recipes.css">
</head>

<body class="d-flex h-100 text-center ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/scripts/recipes.js"></script>
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">

        <%- include('header') %>

            <main class="container pt-4">
                <row>
                    <button onclick='return showSearchBox(event);' class='btn btn-dark' id="a-new-recipe">Add new recipe</button>
                    <button onclick='return showSavedRecipes(event);' class='btn btn-dark' id="a-view-recipes" hidden>Back to recipes</button>
                </row>
                <row>
                    <div class="col-md-8 mx-auto pt-4" id="recipe-display-container">
                        
                    </div>
                </row>
                <row>
                    <div class="col-md-8 mx-auto pt-4" id="search-box-container">
                        
                    </div>
                </row>
                <row>
                    <div class="py-3" id="search-results-container">
                        
                    </div>
                </row>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/celery-soup-037d05d.jpg?resize=960,872" class="rounded-start h-100 w-100 googleThumbnail" alt="Image preview for link">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title"><a class="text-dark 0" href="https://www.bbcgoodfood.com/recipes/celery-soup">Celery <b>soup</b> recipe | BBC Good Food</a></h3>
                            <p class="card-text">Cook up a batch of fresh, low-calorie celery <b>soup</b> for a healthy and filling veggie lunch or supper. Serve with chunks of crusty bread.</p>
                            <div class="d-grid gap-2 d-md-block">
                                <!-- <button class="btn btn-light" id="view-btn-0" type="button">View Recipe Information</button> --> <!-- Gets Recipe Info -->
                                <button class="btn btn-dark" id="save-btn-0" type="button" onclick="saveRecipe(event);">Save Recipe</button> <!-- Gets Recipe Info and Saves, redirects to /recipes -->
                            </div>                                    
                        </div>
                    </div>
                    </div>
            </main>

            <%- include('footer') %>
    </div>
</body>

</html>