<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- from csrf docs: https://expressjs.com/en/resources/middleware/csurf.html -->
    <meta name="csrf-token" id="csrf-token" content="<%= csrfToken %>">

    <title>Diabetes Diary</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/view-logs.js"></script>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('header') %>
            <main>

                <div class="album pb-5">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="card-groups-container">
                        </div>
                    </div>
                </div>
            </main>
            <%- include('footer') %>
    </div>
</body>

</html>